/* 기본 버튼 */
.btn {
  display: inline-block;
  padding: var(--space-2) var(--space-4);
  font-family: var(--font-text);
  font-size: var(--text-small-size);
  font-weight: var(--font-normal);
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.gray_btn {
  display: inline-block;
  padding: var(--btn-padding, var(--space-2) var(--space-4));
  font-family: var(--font-text);
  font-size: var(--btn-font-size, var(--font-normal));
  width: var(--btn-width, auto);
  height: var(--btn-height, auto);
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  color: var(--color02);
  border: 1px solid var(--color-gray-500);
  border-radius: 80px;
  cursor: pointer;
  transition: all 1s ease;
}

.gray_btn:hover {
  background: var(--color01);
  color: var(--color-white)
}

.btn_center {
  display: flex;
  justify-content: center;
  align-items: center;
}